<div data-scroll-to-active="true" class="main-menu menu-fixed menu-light menu-accordion">
  <div class="main-menu-content">
    <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
      <!--  <li class="navigation-header"><span>Restaurant Manager</span><i data-toggle="tooltip" data-placement="right" data-original-title="General" class=" ft-minus"></i> -->
      <li class="nav-item"><a href="javascript:void(0);"><i class="fa fa-sitemap"></i><span data-i18n=""
            class="menu-title">Hệ thống gian hàng</span></a>
        <ul class="menu-content">
          <li><a href="/gian-hang" class="menu-item">Danh sách gian hàng</a></li>
        </ul>
      </li>
      <li class="nav-item"><a href="javascript:void(0);">
          <i class="fa fa-user-secret"></i><span data-i18n="" class="menu-title">Quản lý người dùng</span></a>
        <ul class="menu-content">
          <li><a href="/nhan-vien" class="menu-item">Danh sách nhân viên</a></li>
          <li><a href="/khach-hang" class="menu-item">Danh sách khách hàng</a></li>
        </ul>
      </li>

      <li class="nav-item"><a href="javascript:void(0);">
          <i class="fa fa-gift"></i><span data-i18n="" class="menu-title">Quản lý sản phẩm</span></a>
        <ul class="menu-content">
          <li>
            <a href="/san-pham" class="menu-item">Danh sách sản phẩm </span></a>
          </li>
        </ul>
      </li>

      <li class="nav-item"><a href="javascript:void(0);"><i class="fa fa-list-alt"></i><span data-i18n=""
            class="menu-title">Quản lí hóa đơn</span></a>
        <ul class="menu-content">
          <li><a href="/don-hang" class="menu-item">Danh sách hóa đơn</a></li>
        </ul>
      </li>

      <li class="nav-item has-sub"><a href="javascript:void(0);"><i class="ft-bar-chart"></i><span data-i18n=""
            class="menu-title">Báo cáo</span></a>
        <ul class="menu-content">
          <li class="has-sub is-shown"><a href="javascript:void(0);" class="menu-item">Doanh thu</a>
            <ul class="menu-content">
              <li><a href="/thong-ke-bao-cao/ngay" class="menu-item">Theo ngày</a></li>
              <li><a href="/thong-ke-bao-cao/tuan" class="menu-item">Theo tuần</a></li>
              <li><a href="/thong-ke-bao-cao/thang" class="menu-item">Theo tháng</a></li>
              <li><a href="/thong-ke-bao-cao/quy" class="menu-item">Theo quý</a></li>
              <li><a href="/thong-ke-bao-cao/nam" class="menu-item">Theo năm</a></li>
            </ul>
          </li>
          <li class="has-sub is-shown"><a href="javascript:void(0);" class="menu-item">Top</a>
            <ul class="menu-content">
              <li><a href="/tops/san-pham" class="menu-item">Sản phẩm top</a></li>
              <li><a href="/tops/gian-hang" class="menu-item">Gian hàng top</a></li>
            </ul>
          </li>
        </ul>
      </li>

  </div>
</div>