<footer class="footer footer-static footer-dark navbar-border">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-xs-block d-md-inline-block">Copyright  &copy; 2017 <a href="https://fb.com/tra1602" target="_blank" class="text-bold-800 grey darken-2">Tra Nguyen </a>, All rights reserved. </span><span class="float-md-right d-xs-block d-md-inline-block hidden-md-down">Đào Duy Từ <i class="ft-heart pink"></i></span></p>
</footer>