<div class="navbar-wrapper">
  <div class="navbar-header">
    <ul class="nav navbar-nav">
      <li class="nav-item mobile-menu hidden-md-up float-xs-left"><a
        href="#" class="nav-link nav-menu-main menu-toggle hidden-xs"><i
          class="ft-menu font-large-1"></i></a></li>
      <li class="nav-item"><a href="/" class="navbar-brand"><img
          alt="adam admin logo" style="max-width: 30px;max-height: 30px;"
          src="/images/logo/logo.png"
          class="brand-logo">
          <span class="brand-text"> Nhóm trùm</span></a></li>
      <li class="nav-item hidden-md-up float-xs-right"><a
        data-toggle="collapse" data-target="#navbar-mobile"
        class="nav-link open-navbar-container"><i
          class="fa fa-ellipsis-v"></i></a></li>
    </ul>
  </div>
  <div class="navbar-container content container-fluid">
    <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
      <ul class="nav navbar-nav">
        <li class="nav-item hidden-sm-down"><a href="#"
          class="nav-link nav-menu-main menu-toggle hidden-xs"><i
            class="ft-menu"></i></a>
        </li>
        <li class="dropdown nav-item mega-dropdown">
          <a href="javascript:void(0);" class="nav-link">
            92-93 Đào Duy Từ
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav float-xs-right">
       
        <li class="dropdown dropdown-notification nav-item">&nbsp</li>
        <li class="dropdown dropdown-notification nav-item">&nbsp</li>
          
        </li>
        
        <li class="dropdown dropdown-user nav-item"><a href="#"
          data-toggle="dropdown"
          class="dropdown-toggle nav-link dropdown-user-link"><span
            class="avatar avatar-online"><img
              src="/images/logo/logo.png"
              alt="avatar"><i></i></span><span class="user-name">
              Admin:
              <strong>Nguyễn Đức Trà</strong>
              </span></a>
          <div class="dropdown-menu dropdown-menu-right">
          
            <a href="/nhan-vien/doi-mat-khau" class="dropdown-item">
              <i class="ft-mail"></i> Đổi mật khẩu</a>
            <div class="dropdown-divider"></div>
            <a href="/" class="dropdown-item"><i class="ft-power"></i>
              Đăng xuất</a>
          </div></li>
      </ul>
    </div>
  </div>
</div>