<!DOCTYPE html>
<html lang="en">
<head>
	<title>Users</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
<!-- for-mobile-apps -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Classy Login form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- //for-mobile-apps -->
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
<style>
    body {
	
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	font-family: 'Raleway', sans-serif;
	font-weight:300;
}	
.content-w3ls {
	background-color:#202123;
	width:70%;
	margin:0 auto 50px;
	padding:0;
}


p.agileits2 {
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    text-align: center;
	text-transform: capitalize;
	
}
.content-w3ls .content-agile2 {
	width: 50%;
    float: center;
    padding: 25px 0 0;
}
input#firstname,input#email,input#password1,input#password2 {
	width:300px;
	height:50px;
	padding:0 15px;
	color: Black;
	font-size:17px;
	font-weight:200;
	background-color:transparent;
	/*-- w3layouts --*/ 
	border-bottom:5px solid #fff;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	font-family:  sans-serif;
	margin:0 auto 20px;
	display:block;
	outline:none;
}
input#firstname:focus,input#email:focus,input#password1:focus,input#password2:focus,input#firstname:hover,input#email:hover,input#password1:hover,input#password2:hover {
	color:black;
	border-bottom:5px solid #3970b0;
}
input::-webkit-input-placeholder {
color: black !important;
} 
input:-moz-placeholder { /* Firefox 18- */
color: black !important;  
} 
input::-moz-placeholder {  /* Firefox 19+ */
color: black !important;  
} 
input:-ms-input-placeholder {  
color: black !important;  
}
input:hover::-webkit-input-placeholder {
color: #3970b0 !important;
} 
input:hover:-moz-placeholder { /* Firefox 18- */
color:	#3970b0 !important;  
} 
input:hover::-moz-placeholder {  /* Firefox 19+ */
color: #3970b0 !important;  
} 
input:hover:-ms-input-placeholder {  
color: #3970b0 !important;  
}
input.register {
    width: 335px;
    margin: 30px auto;
    display: block;
    height: 50px;
    text-align: center;
    font-size: 17px;
    font-weight: normal;
    color: #fff;
    background-color:#3970b0;
    border-color: transparent;
	font-family: 'Raleway', sans-serif;
	/*-- w3ls --*/
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	cursor:pointer;
}
input.register:hover {
	color:black;
    background-color:#3970b0;
}
p.wthree {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 20px;
}
@media (max-width: 1080px) {
	/*-- agileits --*/
h1.w3ls {
    font-size: 40px;
}
.content-w3ls {
	width:80%;
	margin: 0 auto 40px;
}
p.agileits2 {
    font-size: 14px;
}
p.copyright {
    font-size: 14px;
}
p.wthree {
    font-size: 14px;
}
input#firstname, input#email, input#password1, input#password2 {
	font-size:15px;
}
}

@media (max-width: 1024px) {
h1.w3ls {
	padding: 30px 0;
	font-size:35px;
}
}


.content-w3ls {
    width: 90%;
}
@media (max-width: 800px) {
input#firstname, input#email, input#password1, input#password2 {
    width: 260px;
}
input.register {
    width: 295px;
}
p.agileits2 {
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
}
/*-- agileits --*/
}
.content-w3ls .content-agile2 {
    width: 100%;
    padding: 25px 0 30px;
}
.content-w3ls {
    width: 65%;
}




@media (max-width: 568px) {
.content-w3ls {
    width: 70%;
}
}



@media (max-width: 414px) {
h1.w3ls {
    padding: 25px 0;
    font-size: 30px;
}
.content-w3ls {
	/*-- agileinfo --*/
    width: 85%;
	margin: 0 auto 10px;
}
}

@media (max-width: 384px) {
input#firstname, input#email, input#password1, input#password2 {
    width: 230px;
	height: 40px;
}
input.register {
    width: 260px;
	height:45px;
}
p.wthree {
    font-size: 14px;
    padding: 0 15px 20px;
    line-height: 30px;
}
}
</style>
</head>
<body >
    <!-- Header -->
    <% include headeruser %>
    <div class="content-w3ls">
            <div class="content-agile2">
    <form action="#" method="post">
    <div class="form-control w3layouts"> 
        <div>
            <input type="text" id="firstname" name="firstname" placeholder="Đổi tên" title="Đổi tên" required="">
        </div>

        <div class="form-control w3layouts">	
            <input type="email" id="email" name="email" placeholder="mail@example.com" title="Đổi Email" required="">
        </div>

        <div class="form-control agileinfo">	
            <input type="password" class="lock" name="password" placeholder="Mật khẩu" id="password1" title="Đổi mật khẩu"required="">
        </div>	
        <div class="form-control agileinfo">	
                <input type="password" class="lock" name="confirm-password" placeholder="Nhập lại mật khẩu" id="password2" title="Nhập lại mật khẩu"required="">
            </div>	
        <input type="submit" class="register" value="Xác nhận">
    </form>
</div>
</div>

			
<% include footer %>      
<script type="text/javascript">
    window.onload = function () {
        document.getElementById("password1").onchange = validatePassword;
        document.getElementById("password2").onchange = validatePassword;
    }
    function validatePassword(){
        var pass2=document.getElementById("password2").value;
        var pass1=document.getElementById("password1").value;
        if(pass1!=pass2)
            document.getElementById("password2").setCustomValidity("Mật khẩu không khớp");
        else
            document.getElementById("password2").setCustomValidity('');	 
            //empty string means no validation error
    }
</script>
</body>
</html>