<!DOCTYPE html>
<html lang="en">

<head>
	<title>Signup</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords"
		content="Official Signup Form Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
		<!-- fonts -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
	<!-- /fonts -->
	<!-- css -->
	<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel='stylesheet' type='text/css' media="all" />
	<!-- /css -->
	<style>
		html,
		body,
		div,
		span,
		applet,
		object,
		iframe,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p,
		blockquote,
		pre,
		a,
		abbr,
		acronym,
		address,
		big,
		cite,
		code,
		del,
		dfn,
		em,
		img,
		ins,
		kbd,
		q,
		s,
		samp,
		small,
		strike,
		strong,
		sub,
		sup,
		tt,
		var,
		b,
		u,
		i,
		dl,
		dt,
		dd,
		ol,
		nav ul,
		nav li,
		fieldset,
		form,
		label,
		legend,
		table,
		caption,
		tbody,
		tfoot,
		thead,
		tr,
		th,
		td,
		article,
		aside,
		canvas,
		details,
		embed,
		figure,
		figcaption,
		footer,
		header,
		hgroup,
		menu,
		nav,
		output,
		ruby,
		section,
		summary,
		time,
		mark,
		audio,
		video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
		}

		article,
		aside,
		details,
		figcaption,
		figure,
		footer,
		header,
		hgroup,
		menu,
		nav,
		section {
			display: block;
		}

		ol,
		ul {
			list-style: none;
			margin: 0px;
			padding: 0px;
		}

		blockquote,
		q {
			quotes: none;
		}

		blockquote:before,
		blockquote:after,
		q:before,
		q:after {
			content: '';
			content: none;
		}

		table {
			border-collapse: collapse;
			border-spacing: 0;
		}

		/* start editing from here */
		a {
			text-decoration: none;
		}

		.txt-rt {
			text-align: right;
		}

		/* text align right */
		.txt-lt {
			text-align: left;
		}

		/* text align left */
		.txt-center {
			text-align: center;
			/*-- W3Layouts --*/
		}

		/* text align center */
		.float-rt {
			float: right;
		}

		/* float right */
		.float-lt {
			float: left;
		}

		/* float left */
		.clear {
			clear: both;
		}

		/* clear float */
		.pos-relative {
			position: relative;
		}

		/* Position Relative */
		.pos-absolute {
			position: absolute;
		}

		/* Position Absolute */
		.vertical-base {
			vertical-align: baseline;
		}

		/* vertical align baseline */
		.vertical-top {
			vertical-align: top;
		}

		/* vertical align top */
		nav.vertical ul li {
			display: block;
		}

		/* vertical menu */
		nav.horizontal ul li {
			display: inline-block;
		}

		/* horizontal menu */
		img {
			max-width: 100%;
		}

		/*--- end reset code ---*/

		body {

			background-attachment: fixed;
			background-position: center;
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			font-family: 'Raleway', sans-serif;
			font-weight: 300;
		}

		.content-w3ls {
			background-color: #202123;
			width: 70%;
			margin: 0 auto 50px;
			padding: 0;
		}


		p.agileits2 {
			font-size: 15px;
			font-weight: normal;
			color: #fff;
			text-align: center;
			text-transform: capitalize;

		}

		.content-w3ls .content-agile2 {
			width: 50%;
			float: center;
			padding: 25px 0 0;
		}

		input#firstname,
		input#account,
		input#email,
		input#password1,
		input#password2,
		input#phoneNumber,
		input#address {
			width: 300px;
			height: 50px;
			padding: 0 15px;
			color: Black;
			font-size: 17px;
			font-weight: 200;
			background-color: transparent;
			/*-- w3layouts --*/
			border-bottom: 5px solid #fff;
			border-top-color: transparent;
			border-left-color: transparent;
			border-right-color: transparent;
			font-family: sans-serif;
			margin: 0 auto 20px;
			display: block;
			outline: none;
		}

		input#firstname:focus,
		input#email:focus,
		input#password1:focus,
		input#password2:focus,
		input#firstname:hover,
		input#email:hover,
		input#password1:hover,
		input#password2:hover {
			color: black;
			border-bottom: 5px solid #3970b0;
		}

		input::-webkit-input-placeholder {
			color: black !important;
		}

		input:-moz-placeholder {
			/* Firefox 18- */
			color: black !important;
		}

		input::-moz-placeholder {
			/* Firefox 19+ */
			color: black !important;
		}

		input:-ms-input-placeholder {
			color: black !important;
		}

		input:hover::-webkit-input-placeholder {
			color: #3970b0 !important;
		}

		input:hover:-moz-placeholder {
			/* Firefox 18- */
			color: #3970b0 !important;
		}

		input:hover::-moz-placeholder {
			/* Firefox 19+ */
			color: #3970b0 !important;
		}

		input:hover:-ms-input-placeholder {
			color: #3970b0 !important;
		}

		input.register {
			width: 335px;
			margin: 30px auto;
			display: block;
			height: 50px;
			text-align: center;
			font-size: 17px;
			font-weight: normal;
			color: #fff;
			background-color: #3970b0;
			border-color: transparent;
			font-family: 'Raleway', sans-serif;
			/*-- w3ls --*/
			transition: all 0.5s ease-in-out;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			-ms-transition: all 0.5s ease-in-out;
			cursor: pointer;
		}

		input.register:hover {
			color: black;
			background-color: #3970b0;
		}

		p.wthree {
			font-size: 16px;
			font-weight: normal;
			color: #fff;
			text-align: center;
			text-transform: capitalize;
			padding-bottom: 20px;
		}

		ul.social-agileinfo {
			text-align: center;
		}

		ul.social-agileinfo li {
			display: inline-block;
			margin: 0;
		}

		ul.social-agileinfo li a i.fa {
			width: 40px;
			height: 40px;
			border: 1px solid #fff;
			text-align: center;
			line-height: 40px;
			color: #fff;
		}

		ul.social-agileinfo li a i.fa.fa-facebook:hover {
			background-color: #3b5998;
			color: #fff;
			border-color: #3b5998;
		}

		ul.social-agileinfo li a i.fa.fa-twitter:hover {
			background-color: #1da1f2;
			color: #fff;
			border-color: #1da1f2;
		}

		ul.social-agileinfo li a i.fa.fa-youtube:hover {
			background-color: #cd201f;
			color: #fff;
			border-color: #cd201f;
		}

		ul.social-agileinfo li a i.fa.fa-google-plus:hover {
			/*-- w3ls --*/
			background-color: #dd4b39;
			color: #fff;
			border-color: #dd4b39;
		}

		ul.social-agileinfo li a i.fa:hover {
			-webkit-animation: spin 2s linear infinite;
			animation: spin 2s linear infinite;
			-moz-animation: spin 2s linear infinite;
			-o-animation: spin 2s linear infinite;
			-ms-animation: spin 2s linear infinite;
		}

		@-webkit-keyframes spin {
			0% {
				-webkit-transform: rotate(0deg);
			}

			100% {
				-webkit-transform: rotate(360deg);
			}
		}

		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}

			100% {
				transform: rotate(360deg);
			}
		}

		p.copyright {
			font-size: 16px;
			text-align: center;
			color: #dadada;
			line-height: 30px;
			padding: 20px 10px;
		}

		p.copyright a {
			color: #f15f22;
		}

		p.copyright a:hover {
			color: #36b051;
		}

		/*-- responsive design --*/
		@media (max-width:1600px) {
			h2.agileits1 {
				padding: 225px 0 15px;
			}
		}

		@media (max-width: 1366px) {
			h2.agileits1 {
				padding: 235px 0 15px;
			}
		}

		@media (max-width: 1080px) {

			/*-- agileits --*/
			h1.w3ls {
				font-size: 40px;
			}

			.content-w3ls {
				width: 80%;
				margin: 0 auto 40px;
			}

			p.agileits2 {
				font-size: 14px;
			}

			p.copyright {
				font-size: 14px;
			}

			p.wthree {
				font-size: 14px;
			}

			input#firstname,
			input#email,
			input#password1,
			input#password2 {
				font-size: 15px;
			}
		}

		@media (max-width: 1024px) {
			h1.w3ls {
				padding: 30px 0;
				font-size: 35px;
			}
		}

		@media (max-width: 991px) {
			h2.agileits1 {
				padding: 230px 0 15px;
			}

			.content-w3ls {
				width: 90%;
			}
		}

		@media (max-width: 800px) {

			input#firstname,
			input#email,
			input#password1,
			input#password2 {
				width: 260px;
			}

			input.register {
				width: 295px;
			}

			p.agileits2 {
				font-size: 14px;
				line-height: 30px;
				padding: 0 10px;
			}

			/*-- agileits --*/
		}

		.content-w3ls .content-agile2 {
			width: 100%;
			padding: 25px 0 30px;
		}

		.content-w3ls {
			width: 65%;
		}


		@media (max-width: 600px) {
			h2.agileits1 {
				padding: 65px 0 10px;
			}
		}

		@media (max-width: 568px) {
			.content-w3ls {
				width: 70%;
			}
		}

		@media (max-width: 480px) {
			h2.agileits1 {
				font-size: 35px;
			}
		}

		@media (max-width: 414px) {
			h1.w3ls {
				padding: 25px 0;
				font-size: 30px;
			}

			.content-w3ls {
				/*-- agileinfo --*/
				width: 85%;
				margin: 0 auto 10px;
			}
		}

		@media (max-width: 384px) {

			input#firstname,
			input#email,
			input#password1,
			input#password2 {
				width: 230px;
				height: 40px;
			}

			input.register {
				width: 260px;
				height: 45px;
			}

			p.wthree {
				font-size: 14px;
				padding: 0 15px 20px;
				line-height: 30px;
			}
		}

		p.copyright {
			font-size: 13px;
		}

		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	</style>
</head>

<body>
	<!--header start here-->
	<% include ./../elements/header %>
	<div class="content-w3ls">
		<div class="content-agile2">
				<% if (message.length > 0) { %>
					<div class="alert alert-danger"><%= message %></div>
				<% } %>
			<form action="/tai-khoan/dang-ki" method="POST">
				<div class="form-control w3layouts">
					<input type="text" id="firstname" name="name" placeholder="Họ và tên" title="Nhập vào tên của bạn"
						required="">
				</div>

				<div class="form-control w3layouts" style="align-items: center">
					<input type="text" id="account" name="account" placeholder="Tên đăng nhập"
						title="Nhập vào tên đăng nhập" required onblur="checkAccount()" style="">
					<span class="text-danger" id="error1" style="display:none;">Tên đăng nhập này đã tồn tại!</span>
				</div>
				<div class="form-control w3layouts" style="align-items: center">
						<input type="email" id="email" name="email" placeholder="Email"
							title="Nhập vào Email" required onblur="checkEmail()" style="">
						<span class="text-danger" id="errorEmail" style="display:none;">Địa chỉ email này đã tồn tại!</span>
				</div>
				<div class="form-control w3layouts" style="align-items: center">
					<input type="number" id="phoneNumber" name="phoneNumber" placeholder="Số điện thoại"
						title="Nhập vào số điện thoại" required onblur="checkPhone()" style="">
					<span class="text-danger" id="phone1" style="display:none;">Số điện thoại này đã được sử dụng!</span>
					<span class="text-danger" id="errPhoneNumber" style="display:none;">Số điện thoại không đúng định dạng!</span>
				</div>
				<div class="form-control w3layouts">
					<input type="text" id="address" name="address" placeholder="Địa chỉ" title="Nhập vào địa chỉ"
						required>
				</div>

				<div class="form-control agileinfo">
					<input type="password" class="lock" name="password" placeholder="Mật khẩu" id="password1"
						title="Nhập mật khẩu" required>
				</div>

				<div class="form-control agileinfo">
					<input type="password" class="lock" name="confirm-password" placeholder="Nhập lại mật khẩu"
						id="password2" title="Nhập lại mật khẩu" required>
				</div>

				<input type="submit" id="btnSubmit" class="register" value="Đăng kí">
			</form>
			<script type="text/javascript">
				window.onload = function () {
					document.getElementById("password1").onchange = validatePassword;
					document.getElementById("password2").onchange = validatePassword;
				}
				function validatePassword() {
					var pass2 = document.getElementById("password2").value;
					var pass1 = document.getElementById("password1").value;
					if (pass1 != pass2)
						document.getElementById("password2").setCustomValidity("Mật khẩu không khớp");
					else
						document.getElementById("password2").setCustomValidity('');
					//empty string means no validation error
				}
			</script>
			<p class="wthree w3l">Đăng kí nhanh bằng mạng xã hội</p>
			<ul class="social-agileinfo wthree2">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-youtube"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<% include ./../elements/footer %>
	
	<script>

		function checkAccount() {
			var bt = document.getElementById('btnSubmit');
			var accountCurrent = document.getElementById("account").value;
			$.ajax({
				url: "/tai-khoan/check-account",
				type: "POST",
				contentType: 'application/x-www-form-urlencoded',
				data: { data: accountCurrent },
				success: function (response) {
					
					if (response == "1") {
						
						$('#error1').attr("style", "display:none;");
						$('#error2').attr("style", "display:none;");
						$('#account').attr("style", "");
						bt.disabled = false;
					}
					else if (response == "0") {
						$('#account').attr("style", "color: red");
						$('#error1').attr("style", "");
						$('#error2').attr("style", "display:none;");
						bt.disabled = true;
					}
					else {
						$('#error1').attr("style", "display:none;");
						$('#error2').attr("style", "");
						bt.disabled = false;
					}

				},
				error: function () {
					alert("Lỗi");
				}
			});
		}
		function checkEmail() {
			var bt = document.getElementById('btnSubmit');
			var accountCurrent = document.getElementById("email").value;
			$.ajax({
				url: "/tai-khoan/check-email",
				type: "POST",
				contentType: 'application/x-www-form-urlencoded',
				data: { data: accountCurrent },
				success: function (response) {
					
					if (response == "1") {
						
						$('#errorEmail').attr("style", "display:none;");
						
						$('#email').attr("style", "");
						bt.disabled = false;
					}
					else if (response == "0") {
						$('#email').attr("style", "color: red");
						$('#errorEmail').attr("style", "");
						
						bt.disabled = true;
					}
					else {
						$('#errorEmail').attr("style", "display:none;");
						$('#email').attr("style", "");
						bt.disabled = false;
					}

				},
				error: function () {
					alert("Lỗi");
				}
			});
		}
		function checkPhone() {
			var bt = document.getElementById('btnSubmit');
			var phoneCurrent = $("#phoneNumber").val();
			var flag=false;
            var vnf_regex = /((09|03|07|08|05)+([0-9]{8})\b)/g;
            var mobile = $('#phoneNumber').val();
            if (vnf_regex.test(mobile) == false) {
				$('#phoneNumber').attr("style", "color: red");
                $("#errPhoneNumber").attr("style", "");
				flag=false;
				bt.disabled = true;
            } else {
				$('#phoneNumber').attr("style", "");
                $("#errPhoneNumber").attr("style", "display:none;");
				flag=true;
				bt.disabled = false;
            }
			if(flag=true){
			$.ajax({
				url: "/tai-khoan/check-phone",
				type: "POST",
				contentType: 'application/x-www-form-urlencoded',
				data: { data: phoneCurrent },
				success: function (response) {
					if (response == "1") {
						$('#phoneNumber').attr("style", "");
						$('#phone1').attr("style", "display:none;");
						$('#phone2').attr("style", "display:none;");
						bt.disabled = false;
					}
					else if (response == "0") {
						$('#phoneNumber').attr("style", "color: red");
						$('#phone1').attr("style", "");
						$('#phone2').attr("style", "display:none;");
						bt.disabled = true;
					}
					else {
						$('#phone1').attr("style", "display:none;");
						$('#phone2').attr("style", "");
						bt.disabled = false;
					}

				},
				error: function () {
					alert("Lỗi");
				}
			});
			}
		}
	</script>
</body>

</html>